lidar_localization/slam_data

**.vscode

**build**
**devel**

**slam_data/key_frames/key_frame**
**slam_data/map/**
**slam_data/trajectory/**

*.INFO
*.INFO.*
*.log.*
*.WARNING

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
