[submodule "third_party_libs/g2o"]
	path = third_party_libs/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "lidar_localization_ws/geographiclib-code"]
	path = third_party_libs/geographiclib-code
	url = https://github.com/geographiclib/geographiclib
[submodule "third_party_libs/ceres-solver"]
	path = third_party_libs/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "third_party_libs/Sophus"]
	path = third_party_libs/Sophus
	url = https://github.com/strasdat/Sophus.git
