<launch>
    <node pkg="rviz"  type="rviz"  name="rviz"  args="-d $(find mapping_localization)/rviz/matching.rviz"></node>
    <node pkg="mapping_localization"  type="data_pretreat_node"  name="data_pretreat_node"  output="screen"></node>
    <node pkg="mapping_localization"  type="matching_node"  name="matching_node"  output="screen"></node>
</launch>