BasedOnStyle: Google

# 语言: None Cpp Java Objc Protp
Language: Cpp 

#缩进宽度
IndentWidth: 4

#tab键盘的宽度
TabWidth: 4
UseTab: Never

# indent for modifier (public, private, protected)
AccessModifierOffset: -4

ColumnLimit: 90

BinPackArguments: false
BinPackParameters: false

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false